@model Đồ_án_3.Models.Category_Product
    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <div id="home-slider">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 header-top-right">
                    <div class="homeslider">
                        <ul id="contenhomeslider">
                            <li><img alt="Funky roots" src="~/Content/img/banner1.jpg" title="Funky roots" /></li>
                            <li><img alt="Funky roots" src="~/Content/img/banner3.jpg" title="Funky roots" /></li>
                            <li><img alt="Funky roots" src="~/Content/img/banner2.jpg" title="Funky roots" /></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @* END SILDER *@
    <div class="page-top">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12">
                    <h2 class="page-heading">
                        <span class="page-heading-title"> KHUYẾN MẠI</span>
                    </h2>

                    <div class="latest-deals-product">
                        <ul class="product-list owl-carousel" data-dots="false" data-loop="true" data-nav="true"
                            data-margin="10" data-autoplayTimeout="1000" data-autoplayHoverPause="true"
                            data-responsive='{"0":{"items":1},"600":{"items":3},"1000":{"items":5}}'>
                            @foreach (var item in Model.ListProduct.Where(n => n.TypeId == 1).Take(10))
                            {
                                <li>
                                    <div class="left-block">
                                         <a href="@Url.Action("WaveCT","ChiTietSanPham",new {Id =item.Id+"a"+item.CategoryId}, null )">
                                            <img style="width:164px ; height:120px" class="img-responsive" alt="product"
                                            src="~/Content/img/@item.Avatar" />
                                         </a>                                

                                        <div class="quick-view">
                                            <a title="Add to my wishlist" class="heart" href="#"></a>
                                            <a title="Add to compare" class="compare" href="#"></a>
                                            <a title="Quick view" href="img/hondaxanh2.png" class="search fancybox-button"></a>
                                        </div>
                                        <div class="add-to-cart">
                                            <a class="add-item-to-cart" title="Add to Carr" href="#" data-name="wave "
                                               data-price="18000500" data-image="img/hondaxanh2.png" data-product-code="HD109">Add to Cart</a>
                                        </div>
                                        <div class="price-percent-reduction2">
                                            @item.FullDes % OFF
                                        </div>
                                    </div>
                                    <div class="right-block">
                                        <h5 class="product-name"><a href="@Url.Action("WaveCT","ChiTietSanPham",new {Id =item.Id} )">@item.Name</a></h5>

                                        <div class="content_price">
                                            <span class="price product-price">
                                                <span style="color: black">Giá: @string.Format("{0:#,##0}",@item.PriceDiscount)  VNĐ</span>
                                                <span style="color: black">Màu:  @item.ShortDes</span> 
                                            </span>
                                            <br><span style="color: black">Price:</span>
                                            <span class="price old-price">@string.Format("{0:#,##0}",@item.Price) VNĐ</span>
                                        </div>
                                    </div>
                                </li>
                            }

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @* END KHUYẾN MẠI *@
    <div class="demo_changer" id="demo_changer">
        <div class="demo-icon fa fa-shopping-cart">
            <span class="notify notify-left" id="count-cart">2</span>
        </div>
        <div class="form_holder">
            <div class="cart-block">
                <div class="cart-block-content">
                    <div class="cart-block-list">
                        <div class="shop_cart">
                            <table class="shop_table">
                                <tbody id="show-cart">
                                    <!--/////////////////////////////////-->
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <div class="toal-cart">
                        <span>Toàn bộ</span>
                        <span class="toal-price pull-right" id="total_price">54,000đ</span>
                    </div>
                    <div class="cart-buttons">
                        @*<a  class="btn-check-out">
                            </a>*@
                        @Html.ActionLink("Thanh toán", "GioHang", "GioHang")
                    </div>
                </div>
            </div>
        </div>
    </div>
    @* END TO CART *@
    <div class="content-page">
        <div class="container">
            <!-- featured category  -->
            <div class="category-featured Vegetables">
                <nav class="navbar nav-menu show-brand">
                    <div class="container">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-brand"><a href="#">SẢN PHẨM NỔI BẬT</a></div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse">

                        </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->

                </nav>
                <div class="product-featured clearfix">
                    <div class="row">

                        <div class="col-sm-12">
                            <div class="box-right">
                                <!--&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
                                <ul class="product-list">
                                    @foreach (var item in Model.ListProduct.Where(n => n.TypeId == 2).Take(10))
                                    {
                                        <li class="col-sm-4 product-item">
                                            <div class="left-block">
                                                <a href="@Url.Action("WaveCT","ChiTietSanPham",new {Id =item.Id+"a"+item.CategoryId}, null )">
                                                        <img class="img-responsive" alt="product"
                                                             src="~/Content/img/@item.Avatar" />
                                                    </a>

                                                    <div class="quick-view">
                                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                                        <a title="Add to compare" class="compare" href="#"></a>
                                                        <a title="Quick view" href="images/product-detail/vegetables/spinach_600x600.jpg" class="search fancybox-button"></a>
                                                    </div>
                                                    <div class="add-to-cart">
                                                        <a class="add-item-to-cart" title="Add to Cart" href="#" data-name="Spinach - 1kg"
                                                           data-price="55000" data-image="vegetables/spinach_300x300.jpg" data-product-code="SP109">Add to Cart</a>
                                                    </div>
                                                    <div class="bestseller"></div>
                                            </div>
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="#">@item.Name</a></h5>

                                                <div class="content_price">
                                                    <span class="price product-price"><span style="color: black">Price: </span>@string.Format("{0:#,##0}", @item.PriceDiscount) VNĐ</span>
                                                    <span style="color: black">Màu:  @item.ShortDes</span>
                                                </div>
                                            </div>
                                        </li>
                                    }
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end featured category -->


            <div class="category-featured Vegetables">
                <nav class="navbar nav-menu show-brand">
                    <div class="container">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-brand"><a href="#">SẢN PHẨM BÁN CHẠY </a></div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse">

                        </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->

                </nav>
                <div class="product-featured clearfix">
                    <div class="row">

                        <div class="col-sm-12">
                            <div class="box-right">
                                <!--&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
                                <ul class="product-list">
                                    @foreach (var item in Model.ListProduct.Where(n => n.TypeId == 3).Take(10))
                                    {
                                        <li class="col-sm-4 product-item">
                                            <div class="left-block">
                                                <a href="@Url.Action("WaveCT","ChiTietSanPham",new {Id =item.Id+"a"+item.CategoryId}, null )">
                                                    <img class="img-responsive" alt="product"
                                                         src="~/Content/img/@item.Avatar" />
                                                </a>

                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    <a title="Add to compare" class="compare" href="#"></a>
                                                    <a title="Quick view" href="images/product-detail/vegetables/spinach_600x600.jpg" class="search fancybox-button"></a>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a class="add-item-to-cart" title="Add to Cart" href="#" data-name="Spinach - 1kg"
                                                       data-price="55000" data-image="vegetables/spinach_300x300.jpg" data-product-code="SP109">Add to Cart</a>
                                                </div>
                                                <div class="bestseller"></div>
                                            </div>
                                            <div class="right-block">
                                                <h5 class="product-name"><a href="#">@item.Name</a></h5>

                                                <div class="content_price">
                                                    <span class="price product-price"><span style="color: black">Price: </span>@string.Format("{0:#,##0}", @item.PriceDiscount) VNĐ</span>
                                                    <span style="color: black">Màu:  @item.ShortDes</span>
                                                </div>
                                            </div>
                                        </li>
                                    }

                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end featured category -->
        </div>
    </div>
    @*  END SP NỔI BẬT AND SP SẮP CÓ *@
   
    @* END ĐĂNG NHẬP VÀ ĐĂNG XUẤT *@
    <div id="owl-demo-ppsay">
        <div class="container">
            <div class="ppsay-title">CUSTOMER COMMENT</div>
            <div id="customer-item-carousel" class="carousel slide hidden-sm hidden-xs" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#customer-item-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#customer-item-carousel" data-slide-to="1"></li>
                    <li data-target="#customer-item-carousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner hidden-sm hidden-xs">
                    <div class="item active">
                        <div class="ppsaydiv">
                            <div class="ppsaycontent hidden-xs col-sm-6 col-md-6">
                                <div class="ppsayavt col-md-3 col-sm-3">
                                    <img src="~/Content/img/avt1.jpg" alt="Ms.Tule">
                                </div>
                                <div class="ppsayauthor col-md-9 col-sm-9">
                                    <div class="ppsaycontentcmt">
                                        <p style="text-align: justify"><span>“ </span>Sản phẩm tốt cần nhập về nhiều hơn.<span>”</span></p>
                                    </div>
                                    <p><span>Customer:</span> <span class="name">Ms.Tu Le</span></p>
                                </div>
                            </div>
                            <div class="ppsaycontent col-xs-12 col-sm-6 col-md-6">
                                <div class="ppsayavt col-md-3 col-sm-3">
                                    <img src="~/Content/img/avt2.jpg" alt="Ms. Linh Pham">
                                </div>
                                <div class="ppsayauthor col-md-9 col-sm-9">
                                    <div class="ppsaycontentcmt">
                                        <p style="text-align: justify"><span>“ </span>Cửa hàng uy tín lắm ạ ! Chúc cửa hàng phát triển mở thêm chi nhánh. <span>”</span></p>
                                    </div>
                                    <p><span>Customer:</span> <span class="name">Ms. Danh Tiệp</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="ppsaydiv">
                            <div class="ppsaycontent col-xs-12 col-sm-6 col-md-6">
                                <div class="ppsayavt col-md-3 col-sm-3">
                                    <img src="~/Content/img/tjpg1.jpg" alt="Ms. Hoang Tran">
                                </div>
                                <div class="ppsayauthor col-md-9 col-sm-9">
                                    <div class="ppsaycontentcmt">
                                        <p style="text-align: justify"><span>“ </span> Tôi hài lòng về chất lượng sản phẩm và chất lượng dịch vụ của Eco Shop. Những lời chúc tốt đẹp nhất đến cửa hàng của bạn. Tôi hy vọng rằng có thêm nhiều sản phẩm mới tốt nhất và dịch vụ của bạn luôn bền vững <span>”</span></p>
                                    </div>
                                    <p><span>Customer:</span> <span class="name">Ms. Mạnh Đỗ</span></p>
                                </div>
                            </div>
                            <div class="ppsaycontent col-xs-12 col-sm-6 col-md-6">
                                <div class="ppsayavt col-md-3 col-sm-3">
                                    <img src="~/Content/img/tuhihi.jpg" alt="Ms. Thu Phan">
                                </div>
                                <div class="ppsayauthor col-md-9 col-sm-9">
                                    <div class="ppsaycontentcmt">
                                        <p><span style="text-align: justify">“ </span> Chúc mừng sinh nhật cửa hàng :)). <span>”</span></p>
                                    </div>
                                    <p><span>Customer:</span> <span class="name">Ms.Khắc Tiềm</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="customer-item-carousel" class="carousel slide hidden-md hidden-lg" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#customer-item-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#customer-item-carousel" data-slide-to="1"></li>
                    <li data-target="#customer-item-carousel" data-slide-to="2"></li>
                    <li data-target="#customer-item-carousel" data-slide-to="3"></li>
                    <li data-target="#customer-item-carousel" data-slide-to="4"></li>
                    <li data-target="#customer-item-carousel" data-slide-to="5"></li>
                </ol>
            </div>
        </div>
    </div>
    @* END BÌNH LUẬN *@

